boto3
botocore
cachetools
certifi
chardet
click
docutils
future
futures
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gspread
httplib2
idna
Jinja2
jmespath
joblib
lxml
MarkupSafe
nltk
numpy
oauth2client
oauthlib
pandas
parse
protobuf
pyasn1
pyasn1-modules
Pyphen
python-dateutil
python-http-client
pytorch-transformers
pytrends
pytz
regex
repoze.lru
requests
requests-oauthlib
retrying
rsa
s3transfer
sacremoses
sendgrid
sentencepiece
singledispatch
six
textstat
torch
tqdm
transformers
uritemplate
urllib3
virtualenv
xlrd
xlwt
